[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
ffmpeg-python = "*"
python-magic = "*"
orjson = "*"

[dev-packages]
better-exceptions = "*"

[requires]
python_version = "3.10"
