[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pillow = "*"
config-library = {extras = ["yaml"], version = "*"}
flask-compress = "*"
waitress = "*"
schedule = "*"
wcmatch = "*"
werkzeug = "*"
pystatx = { version = "*", markers="sys_platform != 'win32'" }
undertext = "*"
filelock = "*"

[dev-packages]
better-exceptions = "*"

[requires]
python_version = "3.10"
