[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
config-library = {extras = ["validation", "yaml"], version = "*"}
filelock = "*"
flask = "*"
flask-compress = "*"
loggext = "*"
pillow = "*"
pydantic = "*"
pystatx = { version = "*", markers="sys_platform != 'win32'" }
schedule = "*"
undertext = "*"
waitress = "*"
wcmatch = "*"
werkzeug = "*"

[dev-packages]
better-exceptions = "*"

[requires]
python_version = "3.10"
